

#MainMenuPane1 {-fx-background-color: transparent
}

#MainMenuPane2 {-fx-background-color: red
}

#MainMenuPane3 {-fx-background-color: #25ffd8
}

/*#FullScreenPane1 {-fx-background-color: Gray}*/

.Error-Label{-fx-text-fill: red; -fx-opacity: 1;-fx-background-color: transparent
}
.Massage-Label {-fx-text-fill: Black; -fx-opacity: 1; -fx-background-color: transparent
}

.Block1 {-fx-background-color: yellow}
.Block2 {-fx-background-color: #3affff
}

.Hidden-Label{-fx-opacity: 0;
}

.StoreStack {-fx-background-color: #ff8be1;
    /*-fx-background-image: url("https://icon-icons.com/icons2/2063/PNG/32/store_shop_building_ecommerce_icon_124608.png");*/
    -fx-background-image: url("hfStore Icon.png");
    -fx-background-repeat: no-repeat ; -fx-background-size: auto ; -fx-background-position: center;}
.CustomerStack{-fx-background-color: #ff8be1;
    -fx-background-image: url("https://icon-icons.com/icons2/11/PNG/32/person_user_customer_man_male_man_boy_people_1687.png");
    -fx-background-repeat: no-repeat ; -fx-background-size: auto ; -fx-background-position: center;
}

.tooltip{-fx-font-size: 20}

