
#MainMenuPane1 {-fx-background-image: url("Imgs/background1.jpg");
    -fx-background-size: cover; -fx-background-repeat: no-repeat;
}
.InfoScroll{-fx-background-image: url("Imgs/blueBackground.jpg");
    -fx-background-size: cover; -fx-background-repeat: no-repeat;
}
.InfoVbox{-fx-background-color: transparent;
}


.BackgroundTrans{-fx-background-color: inherit;
}




.MenuButtons {-fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}

/*#FullScreenPane1 {-fx-background-color: Gray}*/

/*#TopMainPane {-fx-background-image: url("Imgs/background2.jpg");}*/

#BottonMenuPane {-fx-background-image: url("Imgs/bottonBackground.jpg");}

#pointLabel {-fx-font-size: 96px}

#TitleLabel {-fx-text-fill: white; -fx-opacity: 1; -fx-font-size: 30; /*-fx-background-color: white*/
    -fx-font-family: "Arial Black";  /*Lucida Console;!*Courier New!; -*/
}

.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-family: "Blackoak Std";
}

.Error-Label{-fx-text-fill: red; -fx-opacity: 1;-fx-background-color: transparent
}
.Massage-Label {-fx-text-fill: black; -fx-opacity: 1; -fx-font-size: 18; /*-fx-background-color: white*/
}

.Hidden-Label{-fx-opacity: 0;
}


.Block1 {-fx-background-color: yellow}
.Block2 {-fx-background-color: #3affff
}



#GridMap {-fx-background-image: url("Imgs/bricks.jpg");-fx-opacity: 0.85}

.StoreStack {/*-fx-background-color: #fff98f;*/
    /*https://icon-icons.com/icons2/2063/PNG/32/store_shop_building_ecommerce_icon_124608.png*/
    -fx-background-image: url("Imgs/StoreIcon.png");
    -fx-background-repeat: no-repeat ; -fx-background-size: auto  ; -fx-background-position: center;}
.CustomerStack{/*-fx-background-color: #ff8be1;*/
    /*https://icon-icons.com/icons2/11/PNG/32/person_user_customer_man_male_man_boy_people_1687.png*/
    -fx-background-image: url("Imgs/CustomerIcon.png");
    -fx-background-repeat: no-repeat ; -fx-background-size: auto; -fx-background-position: center;
}

.tooltip{-fx-font-size: 20}

